In [82]:
import pandas as pd

In [83]:
df = pd.read_csv('csv/TB_MC_ANALYSIS.csv',encoding='latin1')

In [84]:
df.drop(df[df['Type'] == 'EXAMPLE'].index, inplace=True)

In [85]:
df.head()

,Type,Region,Country,BU,Funnel,Stage,DSP,Data Provider,Audience created by,Campaign Name,Audience Type,Audience name,Audience Composition
6,Consumer,NaN,US,CON,DCv,AP,Google DV360,LiveRamp,Dell AdTech,2024_Q2_US_CSBO-CON_AP_DISPLAY_PROSPECTING_NA,1st Party CRM,targeting-dev_us-csbo-csb_1pcrm-liveramp-aiq_n...,Dell Development
7,Consumer,NaN,US,CON,DCv,AP,Google DV360,LiveRamp,Dell AdTech,2024_Q2_US_CSBO-CON_AP_DISPLAY_PROSPECTING_NA,1st Party CRM,targeting-aontest_us-csbo-con_1pcrm_liveramp-c...,Dell Reactivation Test
8,Consumer,NaN,US,CON,DCv,AP,Google DV360,Google,DSP,2024_Q2_US_CSBO-CON_AP_DISPLAY_PROSPECTING_NA,Contextual (Category),2024_Q2_CON_GoogleInclusionList,Consumer sites with historically strong perfor...
9,Consumer,NaN,US,CON,DCv,AP,Google DV360,Google,DSP,2024_Q2_US_CSBO-CON_AP_DISPLAY_PROSPECTING_NA,Contextual (Keyword),KCT Branded,Dell Branded List
10,Consumer,NaN,US,CON,DCv,AP,Google DV360,Google,DSP,2024_Q2_US_CSBO-CON_AP_DISPLAY_PROSPECTING_NA,Contextual (Keyword),KCT Conquesting,Dell Competitor List

In [86]:
df.describe()

,Type,Region,Country,BU,Funnel,Stage,DSP,Data Provider,Audience created by,Campaign Name,Audience Type,Audience name,Audience Composition
count,1404,468,1402,1404,1404,1404,1404,1403,1156,1404,1323,1404,959
unique,4,2,13,10,4,4,20,15,3,162,18,844,241
top,B2B,APJ,US,CSB,DCv,AP,Google DV360,Google,DSP,2024_Q2_US_CSBO-AW_AP_DISPLAY_PROSPECTING_NA,Floodlight Retargeting,KCT Unbranded,Floodlight Retargeting
freq,901,239,572,365,917,831,1055,1143,862,46,545,10,325

In [87]:
df.loc[df['Country'] == 'US', 'Region'] = 'NA'
df.loc[df['Country'] == 'CA', 'Region'] = 'NA'

In [88]:
df['Type'].value_counts(dropna=False).to_frame()

                Type
B2B              901
Gaming           244
Small Business   142
Consumer         117

In [89]:
df['Region'].value_counts(dropna=False).to_frame()

      Region
NA       933
APJ      239
EMEA     229
NaN        3

In [90]:
df['Country'].value_counts(dropna=False).to_frame()

     Country
US       572
CA       361
JP       176
FR        53
UK        49
DE        38
CH        31
ES        29
NL        29
AU        24
SG        18
MY        16
IN         6
NaN        2

In [91]:
df['BU'].value_counts(dropna=False).to_frame()

        BU
CSB    365
GAM    335
CON    244
SB     235
MB     115
AW      43
ISG     30
CE      24
Brand   12
OUT      1

In [92]:
df['Funnel'].value_counts(dropna=False).to_frame()

     Funnel
DCv     917
DCr     258
DCV     142
DCR      87

In [93]:
df['Stage'].value_counts(dropna=False).to_frame()

     Stage
AP     831
BSP    435
HPP     87
PP      51

In [94]:
df['DSP'].value_counts(dropna=False).to_frame()

               DSP
Google DV360  1055
Adobe          105
Google DV367    91
Amazon          54
DV360           30
Mediamath       24
Quantcast       15
Facebook        14
LinkedIn         5
Google DV364     1
Google DV365     1
Google DV366     1
Google DV363     1
Google DV361     1
Google DV369     1
Google DV370     1
Google DV371     1
Google DV372     1
Google DV362     1
Google DV368     1

In [95]:
df['Data Provider'].value_counts(dropna=False).to_frame()

                     Data Provider
Google                        1143
LiveRamp                       111
Amazon Ad Platform              49
Adobe Ads TubeMogul             44
Quantcast                       15
Facebook                        14
DoubleVerify                     6
Krux                             5
LinkedIn                         5
180byTwo                         3
Harte Hanks                      3
Lotame                           2
Integral Ad Science              1
DGR                              1
Neustar                          1
NaN                              1

In [96]:
df['Audience created by'].value_counts(dropna=False).to_frame()

              Audience created by
DSP                           862
NaN                           248
Dell AdTech                   215
3PD Provider                   79

In [97]:
df['Audience Type'].value_counts(dropna=False).to_frame()

                          Audience Type
Floodlight Retargeting              545
In-Market                           131
1st Party CRM                       114
Online Behavioral                    98
Affinity                             90
Look-Alike                           85
NaN                                  81
Audience 3rd Party                   67
Contextual (Keyword)                 49
Floodlight Converter LAL             46
Contextual (Category)                31
Conquesting                          20
Sequential                           15
Demographic                          11
Category                              7
Third Party Audience                  7
Keyword                               3
A25-54                                3
Custom Intent                         1

In [101]:
df['DSP'].value_counts(dropna=False).to_frame()

               DSP
Google DV360  1055
Adobe          105
Google DV367    91
Amazon          54
DV360           30
Mediamath       24
Quantcast       15
Facebook        14
LinkedIn         5
Google DV364     1
Google DV365     1
Google DV366     1
Google DV363     1
Google DV361     1
Google DV369     1
Google DV370     1
Google DV371     1
Google DV372     1
Google DV362     1
Google DV368     1

In [107]:
df_group = df.groupby(['Funnel','Audience Type','Region'])['Campaign Name'].count().reset_index()

In [109]:
df_group

   Funnel             Audience Type Region  Campaign Name
0     DCR      Contextual (Keyword)   EMEA              6
1     DCV                  Affinity   EMEA              1
2     DCV    Floodlight Retargeting   EMEA            140
3     DCV                 In-Market   EMEA              1
4     DCr             1st Party CRM     NA             11
5     DCr                    A25-54     NA              3
6     DCr                  Affinity    APJ             22
7     DCr                  Affinity     NA             38
8     DCr       Audience 3rd Party      NA             11
9     DCr               Conquesting     NA              1
10    DCr     Contextual (Category)    APJ              6
11    DCr     Contextual (Category)     NA              6
12    DCr      Contextual (Keyword)    APJ              2
13    DCr      Contextual (Keyword)     NA              3
14    DCr               Demographic    APJ              1
15    DCr               Demographic     NA             10
16    DCr    Floodlight Retargeting    APJ              4
17    DCr    Floodlight Retargeting     NA             18
18    DCr                 In-Market    APJ             37
19    DCr                 In-Market     NA             17
20    DCr                Look-Alike    APJ              2
21    DCr                Look-Alike     NA             13
22    DCr         Online Behavioral     NA             37
23    DCr                Sequential     NA             10
24    DCr      Third Party Audience     NA              5
25    DCv             1st Party CRM     NA            103
26    DCv                  Affinity    APJ             12
27    DCv                  Affinity     NA             16
28    DCv       Audience 3rd Party     APJ             23
29    DCv       Audience 3rd Party      NA             33
30    DCv                  Category    APJ              7
31    DCv               Conquesting     NA             17
32    DCv     Contextual (Category)    APJ             12
33    DCv     Contextual (Category)     NA              7
34    DCv      Contextual (Keyword)     NA             38
35    DCv             Custom Intent    APJ              1
36    DCv  Floodlight Converter LAL     NA             46
37    DCv    Floodlight Retargeting    APJ             51
38    DCv    Floodlight Retargeting     NA            332
39    DCv                 In-Market    APJ             49
40    DCv                 In-Market     NA             27
41    DCv                   Keyword    APJ              3
42    DCv                Look-Alike    APJ              1
43    DCv                Look-Alike     NA             69
44    DCv         Online Behavioral    APJ              6
45    DCv         Online Behavioral     NA             55
46    DCv                Sequential     NA              5
47    DCv      Third Party Audience     NA              2