In [37]:
import pandas as pd
import numpy as np

In [38]:
df_calendar = pd.read_csv('csv/Calendar.csv', parse_dates=['Date'])

df = pd.read_csv(r'C:\Users\rafael_fagundes\OneDrive - Dell Technologies\Documents\DB\1153793_All_History_20230518_070617_4132322848.csv', on_bad_lines='skip', skiprows=10, skipfooter=1, parse_dates=['Date'])

C:\Users\rafael_fagundes\AppData\Local\Temp\ipykernel_19792\1407643200.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(r'C:\Users\rafael_fagundes\OneDrive - Dell Technologies\Documents\DB\1153793_All_History_20230518_070617_4132322848.csv', on_bad_lines='skip', skiprows=10, skipfooter=1, parse_dates=['Date'])

In [39]:
#Merge GCM with Dell Fiscal Calendar
df_merged = pd.merge(df, df_calendar, on=['Date'], how='left')

In [40]:
#Get Claravine ID: _d1n4f7g4t1i_
df_merged['claravine_id'] = df_merged['Placement'].replace('-', '_', regex=True).str.extract('(_d[a-zA-Z0-9]{10}_)')

In [120]:
#Get Salesforce ID: _xtksbpk3q_
#df_merged['salesforce_id'] = df_merged['Placement'].replace('-', '_', regex=True).str.extract('(_[a-zA-Z0-9]{9}_)')
sfas_code = '(dellid001|dellid002|dellid003|dellid004|dellid005|dellid006|u4bcudh6e|u551tksrg|us5u8pj67|us6pekn5j|us94080p4|us973j1wz|us97posq8|us97wdsrb|usagy1ies|utav9xmda|uupjcpg9r|uxpj06766|v2pwhx0id|v4cg5z9k3|v87smem4e|v8wow5gw0|vevtvqcgf|vmd1vj8rr|vopzeuev8|w5njcn9yn|w6azv9ajf|w912rlj76|w912xaxh8|w9x1qhnkd|w9x23csrg|w9x3qi4fy|w9x66bac6|wgxem7yjy|wh9bf21cb|wrmz6qoq6|x4s6h6glb|x4s6ozbiu|x4staatbf|x4stis0mr|x4stw2q5t|x4sukk7ot|x4surdfdp|x4sx9axb1|x4sxxih7n|x4tg9qnju|x4tgrpixj|x4tgwlh4p|x4thf0nbb|x4ti3y4be|x4tphvxav|x4tpvly7v|x4tudc6ve|x4tv468ta|x4tvda7z3|x4tvrclfa|x4tvxz4ou|xa1qtqdep|xalf6287s|xef9544me|xjjo6kmov|xjujtrctn|xjum46ajf|xluly5img|xokri9qi3|xokrluyy8|xokrnubpu|xtknipuc7|xtknkv1mt|xtkoe6fht|xtkoharg6|xtkojtonm|xtkolsbe9|xtkr9zpuc|xtkrhxotk|xtkrjwn8v|xtkrl9l2c|xtkrooq9r|xtkruunjx|xtkrxau7z|xtkry7zcc|xtksbpk3q|xtksft4di|xtksh2k4q|xtvnre8am|xtvnwjr6q|xu3ghsmzm|xu3hkickn|xvr22njqm|xvr38g478|xvr4f1xsc|xvrxkn3zo|xvrxqgz7s|xw7l29vye|xw7o6b4am|xzicf9dbu|xzigeneyn)'

df_merged['salesforce_id'] = df_merged['Placement'].str.lower().str.extract(sfas_code)

In [121]:
df_merged.head()

,Advertiser,Advertiser Group,Campaign ID,Campaign,Site (CM360),Placement ID,Placement,Date,Impressions,Day,...,WK,QWK,FQ,FQW,claravine_id,salesforce_id,audience_claravine_flag,audience_sfas_flag,audience_flag,audience_ID
0,Alienware_CA,Consumer Small Business_CA,24060265,2021_Q2_CA_AW_MF_DISPLAY_MOBILE,Outbrain,272342751,OUTBRAIN_PROSPECT_NATIVE_1x1_DCPM_DELL_CT_FY21...,2022-01-02,1,Sun,...,49,10,FY2022Q4,FY2022Q4W10,NaN,NaN,No ID,No ID,No ID,NaN
1,Alienware_CA,Consumer Small Business_CA,24060265,2021_Q2_CA_AW_MF_DISPLAY_MOBILE,Outbrain,272342751,OUTBRAIN_PROSPECT_NATIVE_1x1_DCPM_DELL_CT_FY21...,2022-01-08,1,Sat,...,50,11,FY2022Q4,FY2022Q4W11,NaN,NaN,No ID,No ID,No ID,NaN
2,Alienware_CA,Consumer Small Business_CA,24060265,2021_Q2_CA_AW_MF_DISPLAY_MOBILE,Outbrain,272342751,OUTBRAIN_PROSPECT_NATIVE_1x1_DCPM_DELL_CT_FY21...,2022-01-22,1,Sat,...,52,13,FY2022Q4,FY2022Q4W13,NaN,NaN,No ID,No ID,No ID,NaN
3,Alienware_CA,Consumer Small Business_CA,24060265,2021_Q2_CA_AW_MF_DISPLAY_MOBILE,Outbrain,272342751,OUTBRAIN_PROSPECT_NATIVE_1x1_DCPM_DELL_CT_FY21...,2022-01-26,1,Wed,...,52,13,FY2022Q4,FY2022Q4W13,NaN,NaN,No ID,No ID,No ID,NaN
4,Alienware_CA,Consumer Small Business_CA,24060265,2021_Q2_CA_AW_MF_DISPLAY_MOBILE,Outbrain,272342751,OUTBRAIN_PROSPECT_NATIVE_1x1_DCPM_DELL_CT_FY21...,2022-01-28,1,Fri,...,52,13,FY2022Q4,FY2022Q4W13,NaN,NaN,No ID,No ID,No ID,NaN

In [122]:
df_merged['audience_claravine_flag'] = df_merged['claravine_id'].apply(lambda x: 'Claravine ID' if pd.notnull(x) else 'No ID')

df_merged['audience_sfas_flag'] = df_merged['salesforce_id'].apply(lambda x: 'SFAS ID' if pd.notnull(x) else 'No ID')

df_merged['audience_flag'] = np.where(df_merged['audience_claravine_flag'] == 'Claravine ID', 'Claravine ID',
                                      np.where(df_merged['audience_sfas_flag'] == 'SFAS ID', 'SFAS ID', 'No ID'))

In [132]:
df_merged['audience_ID'] = np.where(pd.notnull(df_merged['claravine_id']), df_merged['claravine_id'], df_merged['salesforce_id'])

In [133]:
#df_merged.groupby(['FY','FQ','audience_flag'])..to_csv(r'C:\Users\rafael_fagundes\OneDrive - Dell Technologies\Desktop\Test.csv')


df_export = df_merged.groupby(['FY', 'FQ', 'audience_flag'])['audience_ID'].nunique().reset_index(name='Unique_Count')
df_export

        FY        FQ audience_flag  Unique_Count
0   FY2022  FY2022Q4         No ID             0
1   FY2022  FY2022Q4       SFAS ID            17
2   FY2023  FY2023Q1         No ID             0
3   FY2023  FY2023Q1       SFAS ID            27
4   FY2023  FY2023Q2         No ID             0
5   FY2023  FY2023Q2       SFAS ID            30
6   FY2023  FY2023Q3         No ID             0
7   FY2023  FY2023Q3       SFAS ID            42
8   FY2023  FY2023Q4  Claravine ID             3
9   FY2023  FY2023Q4         No ID             0
10  FY2023  FY2023Q4       SFAS ID            86
11  FY2024  FY2024Q1  Claravine ID            83
12  FY2024  FY2024Q1         No ID             0
13  FY2024  FY2024Q1       SFAS ID            78
14  FY2024  FY2024Q2  Claravine ID           101
15  FY2024  FY2024Q2         No ID             0
16  FY2024  FY2024Q2       SFAS ID            20

In [134]:
pivoted_df = df_export.pivot(index=['FY','FQ'], columns='audience_flag', values='Unique_Count')
pivoted_df

audience_flag    Claravine ID  No ID  SFAS ID
FY     FQ
FY2022 FY2022Q4           NaN    0.0     17.0
FY2023 FY2023Q1           NaN    0.0     27.0
       FY2023Q2           NaN    0.0     30.0
       FY2023Q3           NaN    0.0     42.0
       FY2023Q4           3.0    0.0     86.0
FY2024 FY2024Q1          83.0    0.0     78.0
       FY2024Q2         101.0    0.0     20.0

In [135]:
pivoted_df.to_csv(r'C:\Users\rafael_fagundes\OneDrive - Dell Technologies\Desktop\Test.csv')